<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.LoginInfoSqlCommon">
    <select id="findLoginInfo" resultType="dto.LoginInfo">
		select * from logininfo
		where username = #{param1}
		and password = #{param2}
		and deleteflg = #{param3}
	</select>

    <insert id="userInsert" parameterType="dto.UserInsertInfo">
 	insert into logininfo (userid, username, password, insertdate, deleteflg)
 		values (#{userId}, #{userName}, #{passWord}, '2019/10/08 9:05:35.518', '0')
 	</insert>

	<select id="findMaxUserId" resultType="String">
		select max(userid) from logininfo
	</select>
</mapper>