/* 右にずれる親要素の設定*/
#slideR {
  margin-top: 5px;
  z-index: 99;
  cursor: pointer;
  position: absolute;
  top: 20px;/* 検索テキストの高さ設定*/
  right: 180px;
  background: #7fffd4;
  width: 1000px;
  color: #000;
  font-size: 16px;
}
/* サイドメニューの設定*/
#slideL {
  z-index:100;
  cursor: pointer;
  top: 0;
  left: 400px;
  width: 320px;
  height: auto;
  background: #fff;
}
#slideL .slide-inner {
  overflow: auto;
  overflow-x: hidden;
  background: #e9ffd4;
}
#ens {
	width:25px;
	height:25px;
	margin-top:5px;
}
#ensLa {
	width:35px;
	height:35px;
	margin-left:5px;
	margin-bottom: 5px;
	border:solid #000000;
	background:#ffffff;
}