<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<div id="header">
	<p>ECサイトデモ</p>
		<a href="http://localhost:8080/login">ログアウト</a>
</div>
<body>
	<h3>検索結果</h3>
	<p th:if="${error}">Error!</p>
	<form th:action="@{/serchResult}" method="POST">
		<table>
			<tr>
				<td>商品名</td>
				<td>価格</td>
				<th><button type="submit">検索</button></th>
			</tr>
		</table>
	</form>
<style type="text/css">
#header {
	height: 110px; /*ヘッダーの高さ*/
	width: 100%; /*ヘッダーの横幅*/
	background-color: #40e0d0; /*ヘッダーの背景色*/
	color: black; /*ヘッダーの文字の色*/
}
header p {
	line-height: 0px; /*行の高さ*/
	float: left; /*左に流す*/
	font-size: 30px; /*文字の大きさ*/
	margin-left: 150px; /*左にマージンを取っている*/
}
header a {
	line-height: 180px; /*行の高さ*/
	margin-left: -190px; /*左より*/
}
</style>
</body>
</html>