<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<div id="header">
	<p>ECサイトデモ</p>
		<a href="localhost:8080/login">ログイン</a>
</div>
<body>
	<h3>ユーザー登録フォーム</h3>
	<form th:action="@{/userInsert}" method="POST">
		<table>
			<tr th:each="msg : ${msgList}">
				<td th:text="${msg}"></td>
			</tr>
		</table>
		<table>
			<tr th:object="${form}">
				<td><label for="userName">名前:</label></td>
				<td><input type="text" th:field="*{userName}"/></td>
			</tr>
			<tr th:object="${form}">
				<td><label for="passWord">パスワード:</label></td>
				<td><input type="text" th:field="*{passWord}"/></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><button type="submit">登録</button></td>
			</tr>
		</table>
	</form>
<style type="text/css">
#header {
	height: 110px; /*ヘッダーの高さ*/
	width: 100%; /*ヘッダーの横幅*/
	background-color: #40e0d0; /*ヘッダーの背景色*/
	color: black; /*ヘッダーの文字の色*/
}
header p {
	line-height: 0px; /*行の高さ*/
	float: left; /*左に流す*/
	font-size: 30px; /*文字の大きさ*/
	margin-left: 150px; /*左にマージンを取っている*/
}
header a {
	line-height: 180px; /*行の高さ*/
	margin-left: -190px; /*左より*/
}
</style>
</body>
</html>