<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="/css/header.css" th:href="@{/css/header.css}" rel="stylesheet"></link>
	<meta charset="UTF-8" />
	<title></title>
</head>
<div id="header">
	<div>ECサイトデモ</div>
		<a href="localhost:8080/login">ログイン</a>
</div>
<body>
	<h3>ユーザー登録フォーム</h3>
	<form th:action="@{/userInsert}" method="POST">
		<table>
			<tr th:each="msg : ${msgList}">
				<td th:text="${msg}"></td>
			</tr>
		</table>
		<table>
			<tr th:object="${form}">
				<td><label for="userName">名前:</label></td>
				<td><input type="text" th:field="*{userName}"/></td>
			</tr>
			<tr th:object="${form}">
				<td><label for="passWord">パスワード:</label></td>
				<td><input type="text" th:field="*{passWord}"/></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><button type="submit">登録</button></td>
			</tr>
		</table>
	</form>
</body>
</html>